{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="dropdown">
  <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Sort by
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="?sorting=rate">Rating</a>
    <a class="dropdown-item" href="?sorting=date">Published date</a>
  </div>
</div><br>
{% for question in questions %}
    {{ question.header }}<br />
{% endfor %}
<br>
{% include 'qa/question_pagination.html' %}
</div>
{% endblock content %}