{% extends 'base.html' %}

{% block content %}
<div class="container">
  <br><h2>Tag result</h2><br>
<div class="row">
{% for question in questions%}
    <div class="col-1">
        {{ question.votes }}
        <p>Votes</p>
    </div>
    <div class="col-1">
        {{ question.answers.count }}
        <p>Answers</p>
    </div>
    <div class="col-9">
        <p class="text-justify font-weight-bold">{{ question.header }}</p>
            <div class="d-flex">
                <div class="mr-auto p-2">
                    {% for tag in question.tags_as_list %}
                    <a class="btn btn-outline-primary btn-sm" role="button" href="{% url 'tag_search' tag %}">{{ tag }}</a>
                    {% endfor %}
                </div>
                <div class="p-2">
                    <p class="font-weight-bold">{{ question.author }}</p>
                </div>
                <div class="p-2">
                    <p class="font-weight-bold">Asked</p>
                </div>
            </div>
    </div>
    <div class="col-1">
    </div>
{% endfor %}
</div>
<br>
{% include 'qa/question_pagination.html' %}
</div>
{% endblock %}