{% extends "base.html" %}
{% block content %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Sort by
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="?sorting=rate">Rating</a>
    <a class="dropdown-item" href="?sorting=date">Published date</a>
  </div>
</div>
{% for question in questions %}
    {{ question.header }}<br />
{% endfor %}
{% if questions.has_other_pages %}
<nav aria-label="...">
  <ul class="pagination justify-content-center">
    {% if questions.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ questions.previous_page_number }}">Previous</a></li>
    {% else %}
    <li class="page-item disable">
      <span class="page-link">Previous</span>
    </li>
    {% endif %}
    {% for i in questions.paginator.page_range %}
      {% if questions.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if questions.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ questions.next_page_number }}">Next</a></li>
    {% else %}
    <li class="page-item disable">
      <span class="page-link">Next</span>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock content %}