{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col-lg-12">
        <br><h3>{{ question.header }}</h3><br>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="row">
                <div class="col-12">
                    {% if user.is_authenticated and user != question.author.user %}
                    <a href="?up_vote={{ question.pk }}"><i class="fas fa-angle-up fa-3x"></i></a>
                    {% else %}
                    <i class="fas fa-angle-up fa-3x" style="color:grey"></i>
                    {% endif %}
                </div>
                <div class="col-12"><p class="text-center">{{ question.rating }}</p></div>
                <div class="col-12">
                    {% if user.is_authenticated and user != question.author.user %}
                    <a href="?down_vote={{ question.pk }}"><i class="fas fa-angle-down fa-3x"></i></a>
                    {% else %}
                    <i class="fas fa-angle-down fa-3x" style="color:grey"></i>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-10">
            <p class="text-justify font-weight-normal">{{ question.text }}</p>
            <div class="row">
                <div class="col-10">
                    {{ question.tags }}
                </div>
                <div class="col-2">
                    {{ question.author.user }}
                </div>
            </div>
        </div>
    </div>
</div>

{% for answer in answers %}
{{answer.answer_text}}
{% endfor %}
{% if user.is_authenticated and user != question.author.user %}
<br><h4>Your answer</h4>
<form method="post" action="{% url 'answer' %}?question_id={{ question.pk }}">
    {% csrf_token %}
    {% for field in answer_form %}
      <p>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endif %}
</div>
{% if answers and answers.has_other_pages %}
<nav aria-label="...">
  <ul class="pagination justify-content-center">
    {% if answers.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ answers.previous_page_number }}">Previous</a></li>
    {% else %}
    <li class="page-item disable">
      <span class="page-link">Previous</span>
    </li>
    {% endif %}
    {% for i in answers.paginator.page_range %}
      {% if answers.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if answers.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ answers.next_page_number }}">Next</a></li>
    {% else %}
    <li class="page-item disable">
      <span class="page-link">Next</span>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}