{% extends "base.html" %}
{% block content %}
<div class="container">
    {# вопрос #}
<div class="row">
    <div class="col-lg-12">
        <br><h3>{{ question.header }}</h3><br>
    </div>
    <div class="row">
        <div class="col-1">
            <div class="btn-group-vertical btn-group-sm" role="group">
                {% if user.is_authenticated and user != question.author.user %}
                <a class="btn btn-outline-primary" role="button" href="{% url 'vote' %}?up_vote=yes&amp;question_id={{ question.pk }}">
                    <i class="fas fa-angle-up fa-2x"></i>
                </a>
                {% else %}
                <a class="btn btn-primary disabled" role="button">
                    <i class="fas fa-angle-up fa-2x" style="color:white"></i>
                </a>
                {% endif %}
                <a class="btn btn-link disabled alert-link" role="button" aria-disabled="true">{{ question.rating }}</a>
                {% if user.is_authenticated and user != question.author.user %}
                <a class="btn btn-outline-primary" role="button" href="{% url 'vote' %}?down_vote=yes&amp;question_id={{ question.pk }}">
                    <i class="fas fa-angle-down fa-2x"></i>
                </a>
                {% else %}
                <a class="btn btn-primary disabled" role="button">
                    <i class="fas fa-angle-down fa-2x" style="color:white"></i>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-11">
            <p class="text-justify">{{ question.text }}</p>
            <div class="d-flex">
                <div class="mr-auto p-2">
                    {% for tag in question.tags_as_list %}
                    <a class="btn btn-outline-primary btn-sm" role="button" href="{% url 'tag_search' tag %}">{{ tag }}</a>
                    {% endfor %}
                </div>
                <div class="p-2">
                    <p class="font-weight-bold">Avatar</p>
                </div>
                <div class="p-2">
                    <p class="font-weight-bold">{{ question.author.user }}</p>
                </div>
            </div>
        </div>
    </div>
    {# список ответов #}
<div class="row">
        {% for answer in answers %}
        <div class="col-1">
            <div class="btn-group-vertical btn-group-sm" role="group">
                {% if user.is_authenticated and user != answer.author.user %}
                <a class="btn btn-outline-primary" role="button" href="{% url 'vote' %}?up_answer_id={{answer.pk}}&amp;question_id={{ question.pk }}">
                    <i class="fas fa-angle-up fa-2x"></i>
                </a>
                {% else %}
                <a class="btn btn-primary disabled" role="button">
                    <i class="fas fa-angle-up fa-2x" style="color:white"></i>
                </a>
                {% endif %}
                <a class="btn btn-link disabled alert-link" role="button" aria-disabled="true">{{ answer.rating }}</a>
                {% if user.is_authenticated and user != answer.author.user %}
                <a class="btn btn-outline-primary" role="button" href="{% url 'vote' %}?down_answer_id={{answer.pk}}&amp;question_id={{ question.pk }}">
                    <i class="fas fa-angle-down fa-2x"></i>
                </a>
                {% else %}
                <a class="btn btn-primary disabled" role="button">
                    <i class="fas fa-angle-down fa-2x" style="color:white"></i>
                </a>
                {% endif %}
                {% if user.is_authenticated and user == question.author.user %}
                <a class="btn btn-link" role="button" href="{% url 'vote' %}?correct_answer_id={{answer.pk}}&amp;question_id={{ question.pk }}">
                    {% if answer.is_correct %}
                    <i class="fas fa-star fa-sm" style="color:red"></i>
                    {% else %}
                    <i class="fas fa-star fa-sm"></i>
                    {% endif %}
                </a>
                {% elif answer.is_correct %}
                <a class="btn btn-link disabled" role="button">
                    <i class="fas fa-star fa-sm" style="color:red"></i>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-11">
            <p class="text-justify font-weight-normal">{{ answer.answer_text }}</p>
            <div class="d-flex">
                <div class="ml-auto p-2">
                    <p class="font-weight-bold">Avatar</p>
                </div>
                <div class="p-2">
                    <p class="font-weight-bold">{{ answer.author.user }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
</div>
</div>
{% if user.is_authenticated and user != question.author.user %}
<br><h4>Your answer</h4>
<form method="post" action="{% url 'answer' %}?question_id={{ question.pk }}">
    {% csrf_token %}
    {% for field in answer_form %}
      <p>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endif %}
</div>
{% if answers and answers.has_other_pages %}
<nav aria-label="...">
  <ul class="pagination justify-content-center">
    {% if answers.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ answers.previous_page_number }}">Previous</a></li>
    {% else %}
    <li class="page-item disable">
      <span class="page-link">Previous</span>
    </li>
    {% endif %}
    {% for i in answers.paginator.page_range %}
      {% if answers.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if answers.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ answers.next_page_number }}">Next</a></li>
    {% else %}
    <li class="page-item disable">
      <span class="page-link">Next</span>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}