{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
  <h2>Settings</h2>
  <p>Login: {{ user.username }}</p>
  <form method="post">
    {% csrf_token %}
    {% for form in user_form %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
  {% endif %}
{% endblock %}